@import "../../utils/_colors";

.post-card {
  border: 1px solid lighten($gray, 18);
  padding: 2rem;
  border-radius: 0.3rem;
  margin-bottom: 3rem;

  .post-owner {
    display: flex;
    align-items: center;

    .owner-img {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
    }

    .owner-details {
      margin-left: 2rem;

      .name {
        font-size: 1.3rem;
        text-transform: capitalize;
      }

      .posted-date {
        font-size: 1rem;
        color: $gray;
      }
    }
  }
  .post-description {
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .post-intractivity {
    display: flex;

    .like-and-comment {
      display: flex;

      span {
        display: flex;
        align-items: center;
        margin-right: 1.5rem;
        font-size: 1.3rem;
      }
      .icon {
        margin-right: 0.5rem;
        cursor: pointer;
      }
    }

    .make-comment {
      border-left: 1px solid lighten($gray, 18);
      flex-grow: 1;
      display: flex;
      align-items: center;

      input {
        border: none;
        height: 3rem;
        flex-grow: 1;
        font-size: 1.2rem;
        padding-left: 1rem;
      }

      .icon {
        padding-right: 0.5rem;
        font-size: 2rem;
        transform: rotate(45deg);
        color: $orange;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
  }

  .post-img-vid {
    .post-img {
      width: 100%;
    }
  }
}
